:not(pre) > code[class*="language-"] {
    background: rgba(27,31,35,0.05) !important;
    color: hsla(0,0%,0%,0.9) !important;
    padding: 0.3rem;
    font-size: inherit !important;
    line-height: inherit !important;
}
details > div  {
    background: rgba(27,31,35,0.05);
    border-radius: 3px;
    line-height: 2rem;
    padding: 1rem;
}

@import "bootstrap/bootstrap-grid";
@import "bootstrap/mixins";
@import "bootstrap/forms";
@import "bootstrap/utilities/spacing";
@import "bootstrap/buttons";
@import "bootstrap/nav";
@import "bootstrap/list-group";